@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap");
* {
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  /* border: 1px solid brown; */
}
:root {
  --primary: #2b7a78;
  --secondary: #ffffff;
  --tertiary: #7a7a7a;
}
.btn {
  background: var(--primary);
  color: var(--secondary);
  border-radius: 0;
}
header {
  background-image: url(../img/Hero-Section.jpg);
  color: var(--secondary);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 10%;
  padding-right: 10%;
}
.txt-brand {
  font-size: 2em;
  font-weight: 600;
}
.nav-item {
  font-weight: 200;
}
h1 {
  font-size: 4em;
}
h2 {
  color: var(--tertiary);
}
.hero {
  height: 75vh;
}
.hero button {
  font-size: 1.3em;
}
section {
  margin-left: 10%;
  margin-right: 10%;
}
.bio {
  width: 524px;
  height: 500px;
}
.bio-text {
  width: 36%;
}
.bio-text p {
  line-height: 48px;
  font-size: 1.2em;
}
.gallery1 img {
  max-width: 100%;
}
/* .gallery1 img:nth-child(1) {
  width: 35%;
  height: 565px;
}
.gallery1 img:nth-child(2) {
  width: 30%;
  height: 565px;
}
.gallery1 img:nth-child(3) {
  width: 30%;
  height: 320px;
}
.gallery1 img:nth-child(4) {
  width: 30%;
  height: 320px;
} */
.my-services {
  width: 50%;
}
.my-services1 {
  width: 30%;
}
@media screen and (max-width: 620px) {
  header {
    background: url(../img/hero-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 3%;
    padding-right: 3%;
  }
  .bio {
    display: none;
  }
  .bio-text {
    width: 100%;
  }
  section {
    margin-left: 3%;
    margin-right: 3%;
  }
}
